@page
@model ZealandEvent.Pages.Arrangementer.GuestlistModel
@{
}

<h3>Tilmeldingsliste - @Model.Arrangement.Name</h3>
<h4>@Model.Arrangement.Department | @Model.Arrangement.Date.ToShortDateString()</h4>
<div>
    <hr />
    @if (Model.AntalTilmeldte < 100)
    {
        <h5 style="color:red">Antal tilmeldte: @Model.AntalTilmeldte</h5>
    }
    else
    {
        <h5 style="color:green">Antal tilmeldte: @Model.AntalTilmeldte</h5>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    Navn
                </th>
                <th>
                    Telefon
                </th>
                <th>
                    VIP
                </th>
                <th>
                    Parkering
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var b in Model.Bookings)
            {

            <tr>
                <td>@b.Firstname @b.Lastname</td>
                <td>@b.Phone</td>
                @if (b.Vip == 0)
                {
                    <td>Nej</td>
                }
                @if (b.Vip == ZealandEventLib.Models.VIP.JaTak)
                {
                    <td>Ja</td>
                }
                @if (b.Vip == ZealandEventLib.Models.VIP.JaTakPlusN)
                {
                    <td>Ja + Normal Menu</td>
                }
                @if (b.Vip == ZealandEventLib.Models.VIP.JaTakPlusV)
                {
                    <td>Ja + Vegansk Menu</td>
                }
                @if (b.Vip == ZealandEventLib.Models.VIP.JaTakPlusNOgC)
                {
                    <td>Ja + Normal Menu & Champagne Menu</td>
                }
                @if (b.Vip == ZealandEventLib.Models.VIP.JaTakPlusVOgC)
                {
                    <td>Ja + Vegansk Menu & Champagne Menu</td>
                }
                @if (b.Parking == false)
                {
                    <td></td>
                }
                @if (b.Parking == true)
                {
                    <td><i class="fa fa-check"></i></td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>

@if (Login.LoginModel.LoggedInUser != null && Login.LoginModel.LoggedInUser.UserRole == ZealandEventLib.Models.UserRole.Admin)
{
<div>
    <a asp-page="./Index"><i class="fa fa-reply" style="color:black; font-size:20px"></i></a>
</div>
}