@page
@model ZealandEvent.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Brugerliste";
}
<style>
    .searchbar {
        margin: 20px auto;
        background: #fff;
        height: 30px;
        border-radius: 30px;
        padding: 10px 20px;
        display: inline-flex;
        align-items: center;
        transition: 0.8s;
        box-shadow: 0 0 25px 0 rgba(0,0,0,0.4);
    }

        .searchbar:hover > input {
            width: 350px;
            cursor: pointer;
        }

        .searchbar > input {
            background: transparent;
            border: none;
            outline: none;
            width: 0px;
            font-weight: 500;
            font-size: 16px;
            transition: 0.8s;
        }

    .fas {
        color: black;
    }

    .searchbar > input[type="text"] {
        outline: none;
        border: none;
        background: transparent;
    }
</style>


<h1>Bruger-liste</h1>
<form class="text-center" method="post">
    <div class="searchbar">
        <input type="text" asp-for="SearchText" placeholder="Søg på brugernavn" />
        <li class="fas fa-search"></li>
    </div>
</form>
<table class="table" style="border-style:solid; border-width:2px; border-color:black;">
    <thead>
        <tr style="background-color:whitesmoke;">
            <th>
                Brugernavn
            </th>
            <th>
                Email
            </th>
            <th>
                Adgangs-niveau
            </th>
            <th>
                Rediger/Slet
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr style="background-color:white;">
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRole)
            </td>
            <td>
                <a class="btn" type="button" asp-page="./Edit" asp-route-id="@item.UserId">
                    <i class="fa fa-edit"></i>
                </a> |
                <a class="btn" type="button" asp-page="./Delete" asp-route-id="@item.UserId">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
