@page
@model ZealandEvent.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Brugerliste";
}

<h1>Bruger-liste</h1>
<form class="text-center" method="post">
    <input style="margin-bottom:15px; width:30%" type="text" asp-for="SearchText" class="form-control" placeholder="Søg på brugernavn efter en specifik bruger" /> <i class="fas fa-search"></i>
</form>
<table class="table" style="border-style:solid; border-width:3px; border-color:black;">
    <thead>
        <tr style="background-color:whitesmoke;">
            <th>
                Brugernavn
            </th>
            <th>
                Email
            </th>
            <th>
                Adgangs-niveau
            </th>
            <th>
                Rediger/Slet
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr style="background-color:white;">
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRole)
            </td>
            <td>
                <a class="btn" type="button" asp-page="./Edit" asp-route-id="@item.UserId">
                    <i class="fa fa-edit"></i>
                </a> |
                <a class="btn" type="button" asp-page="./Delete" asp-route-id="@item.UserId">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
