@page
@model ZealandEvent.Pages.Bookings.CreateModel

@{
    ViewData["Title"] = "Tilmeld til arrangement";
}

<h3>Udfyld oplysninger for at registrere dig som gæst til arrangementet</h3>
<h5>@Model.Arrangement.Name | @Model.Arrangement.Date.ToShortDateString() </h5>
<hr />
<div>
    <h5 style="color:red">@Model.Message</h5>
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Booking.Firstname" class="control-label">Fornavn</label>
                <input asp-for="Booking.Firstname" class="form-control" />
                <span asp-validation-for="Booking.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Lastname" class="control-label">Efternavn</label>
                <input asp-for="Booking.Lastname" class="form-control" />
                <span asp-validation-for="Booking.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Phone" class="control-label">Telefon nummer</label>
                <input asp-for="Booking.Phone" class="form-control" />
                <span asp-validation-for="Booking.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Zealand tilbyder vores gæster en plads i vores VIP-Lounge på 2 sal, hvor der er mulighed for at tilvælge en frokostmenu.</p>
                <label asp-for="Booking.Vip" class="control-label">Ønsker du at booke en plads i VIP-Loungen?</label>
                <select name="Booking.Vip" asp-for="Booking.Vip" class="form-control">
                    <option value="0">Nej tak</option>
                    <option value="1">Ja tak - 100,-DKK</option>
                    <option value="2">Ja tak + Champagne menu - 150,-DKK</option>
                    <option value="3">Ja tak + Champagne menu + Normal menu - 200,-DKK</option>
                    <option value="4">Ja tak + Champagnemenu + Vegansk menu - 250,-DKK</option>
                </select>
            </div>
            <div>
                
                <img src="/Billeder/tog afgange.PNG" style="width:450px; padding-top:50px;">
            </div>
            <div class="form-group" style="padding-top:50px;">
                <p>Zealand tilbyder vores gæster at booke en p-plads sammen med sin tilmelding, hvis man kommer i bil. HUSK!!!! UDFYLD TOGPLAN</p>
                <label asp-for="Booking.Parking" class="control-label">Ønsker du at booke en p-plads?</label>
                <p>@Html.RadioButtonFor(b => b.Booking.Parking, true) Ja | @Html.RadioButtonFor(b => b.Booking.Parking, false) Nej</p>
            </div>

            <div class="form-group">
                <input style="background-color:green; color:white" type="submit" value="Tilmeld" class="btn btn-primary" /> |
                <a asp-page="/Index"><i class="fa fa-reply" style="color:black; font-size:20px"></i></a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
