@page
@model ZealandEvent.Pages.Bookings.MyBookingsModel
@{
}

<h3>Mine bookinger</h3>
<div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Navn
                </th>
                <th>
                    Telefon
                </th>
                <th>
                    VIP
                </th>
                <th>
                    Parkering
                </th>
                <th>
                    Arrangement
                </th>
                <th>
                    Dato
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var b in Model.Bookings)
            {

            <tr>
                <td>@b.Firstname @b.Lastname</td>
                <td>@b.Phone</td>
                @if (b.Vip == 0)
                {
                    <td>Nej</td>
                }
                @if (b.Vip == ZealandEventLib.Models.VIP.JaTak)
                {
                    <td>Ja</td>
                }
                @if (b.Vip == ZealandEventLib.Models.VIP.JaTakPlusC)
                {
                    <td>Ja & Champagne Menu</td>
                }
                @if (b.Vip == ZealandEventLib.Models.VIP.JaTakPlusCogN)
                {
                    <td>Ja & Champagne Menu+Normal Menu</td>
                }
                @if (b.Vip == ZealandEventLib.Models.VIP.JaTakPlusCogV)
                {
                    <td>Ja & Champagne Menu+Vegansk Menu</td>
                }
                @if (b.Parking == false)
                {
                    <td></td>
                }
                @if (b.Parking == true)
                {
                    <td><i class="fa fa-check"></i></td>
                }
                <td>@b.Arrangement.Name
                @b.Arrangement.Department</td>
                <td>@b.Arrangement.Date.ToShortDateString()</td>
                <td>
                    <a class="btn" type="button" asp-page="./Delete" asp-route-id="@b.BookingId">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>